{% extends 'web/base.html' %}

{% block title %}Байланыс{% endblock %}

{% block content %}
<div class="card text-center">
    <h1>Бізбен байланыс</h1>
    <p>Біздің әлеуметтік желілер:</p>
    <a href="https://www.instagram.com/_abdi_rakhman?igsh=ODM2bHhzYnI3cXI3" target="_blank" class="btn btn-danger">Instagram</a>
    <a href="https://facebook.com/yourpage" target="_blank" class="btn btn-primary">Facebook</a>
    <a href="https://wa.me/7054955704?text=%F0%9F%91%8B" target="_blank" class="btn btn-secondary">WhatsApp</a>
</div>
{% endblock %}
